{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Delete Subject" %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card shadow border-0">

            <div class="card-body text-center p-5">

                <div class="mb-4">

                    <i class="bi bi-trash-fill text-danger"
                       style="font-size:70px;"></i>

                </div>

                <h2 class="mb-3">

                    {% trans "Delete Subject" %}

                </h2>

                <p class="text-muted">

                    {% trans "Are you sure you want to delete:" %}

                </p>

                <h4 class="fw-bold mb-4">

                    {{ subject }}

                </h4>

                <form method="POST">

                    {% csrf_token %}

                    <a
                        href="{% url 'subjects:list' %}"
                        class="btn btn-light me-2">

                        <i class="bi bi-arrow-left"></i>

                        {% trans "Cancel" %}

                    </a>

                    <button
                        class="btn btn-danger">

                        <i class="bi bi-trash"></i>

                        {% trans "Delete" %}

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
